<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta-tags for a character set and viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title of the webpage -->
    <title>Welcome to GIC Progress Assessment</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="../static/style.css">
</head>
<!-- Starting of HTML body -->
<body>

<!-- Navigation bar -->
<ul class="top-ul">
    <li><a class="active" href="welcomepage.html">Home</a></li>
    <li><a href="tips.html">Tips</a></li>
    <li><a href="forms.html">Form</a></li>
    <li><a href="informationpage.html">About</a></li>
</ul>

<!-- Header section -->
<header>
    <h1>Welcome to GIC Progress Assessment</h1>
</header>
<!-- Main content section -->
<div class="container">
    <!-- GIC image -->
    <img src="https://www.casita.com/images/listing/779/orig/99102025520171025021700PM.gif" alt="GIC IMAGE">
    <!-- Introduction text -->
    <p>Welcome to our platform! We're here to help assess and improve students' progress at Glasgow International College.</p>
    <!-- Call-to-action -->
    <p>Discover more about us and how you can contribute:</p>
    <!-- A link to the information page -->
    <a href="informationpage.html" class="btn">Learn More</a>
</div>
<!-- Main content section -->
<div class="container">
    <!-- GIC video -->
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ryzZoTomfh8?si=JxH_mZpECpmKW-9v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <!-- Social Media Integration -->
<div class="social-media">
    <!-- Instagram Share Button -->
    <a href="https://www.instagram.com/gicglasgow?igsh=NGxnemVoeGxlOHJv" target="_blank">
        <img src="https://th.bing.com/th/id/OIP.cQwJ-7VDS0l6ycjjg02nNQAAAA?rs=1&pid=ImgDetMain" alt="Instagram">
    </a>
</div>

</body>
<!-- Closing HTML body tag -->
</html>